section#Recipes-Conteiner {
  flex-grow: 1;
  
  main {
    gap: 8px;
    text-align: justify;
  }

  p.paragraph-section {
    font-weight: 700;
    margin-bottom: 4px;
  }

  section#recipes-ingredients {
    li {
      margin-left: 40px;
    }
  }

  section#recipes-intructions {
    p#instruction {
      margin-left: 25px;
    }
  }
}